# **Imports**

In [76]:
import snowflake.connector as snwconn
import pandas as pd
import os
from dotenv import load_dotenv

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

from imblearn.over_sampling import SMOTE

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

load_dotenv()

True

# **Snowflake Connections**

In [3]:
conn_params = {
    'account': os.getenv('SNW_ACCOUNT').replace('.', '-'),
    'user': os.getenv('SNW_USERNAME'),
    'password': os.getenv('SNW_PASS'),
    'warehouse': 'COMPUTE_WH',
    'database': 'JMAN_FINAL_PROJECT',
    'schema': 'DBO_STAGING'
}

In [4]:
conn = snwconn.connect(**conn_params)
cursor = conn.cursor()

# **Dataset Table**

## Read Dataset

In [5]:
csv_file_path = 'data/all_data.csv'
force_cloud = False

In [6]:
def _read_from_cloud():
    with open('amalgamation.sql', 'r') as sql_query_file:
        sql_query_text = sql_query_file.read()
    
    cursor.execute(sql_query_text)
    data = cursor.fetchall()
    columns = [col[0] for col in cursor.description]
    main_df = pd.DataFrame(data, columns=columns)

    return main_df

In [7]:
def _save_to_local(df): 
    dirs_to_make = '/'.join(csv_file_path.split('/')[:-1])
    if not os.path.exists(dirs_to_make):
        os.makedirs(dirs_to_make)

    df.to_csv(csv_file_path, index=False)

In [8]:
if not force_cloud and os.path.exists(csv_file_path):
    print('CSV Exists, reading from local')
    main_df = pd.read_csv(csv_file_path)
else:
    print('CSV does\'t Exist, reading from cloud')
    main_df = _read_from_cloud()
    _save_to_local(main_df)

CSV Exists, reading from local

## Dataset Overview

In [9]:
main_df

,USER_EMAIL,USER_ROLE,PROJECT_NAME,PROJECT_DOMAIN,DATE_START,DATE_END,TIMESHEET_COMMENT_ADDED,TIMESHEET_D0,TIMESHEET_D1,TIMESHEET_D2,TIMESHEET_D3,TIMESHEET_D4,TIMESHEET_D5,TIMESHEET_D6,TIMESHEET_ACTIVITY_NAME,FEEDBACK_QUESTION,FEEDBACK_CHECKED_ANSWER,FEEDBACK_TEXT_ANSWER
0,wbriggs@example.net,user,Chaney Inc Solution,Media and Entertainment,04-09-2022,10-09-2022,NaN,0,1,1,2,0,2,1,Sales Activity,NaN,NaN,NaN
1,wbriggs@example.net,user,"Wilson, Jackson and Green Solution",Education Technology,04-09-2022,10-09-2022,Excited to get started!,1,1,0,1,1,0,0,BAU Activity,NaN,NaN,NaN
2,wbriggs@example.net,user,"Wilson, Jackson and Green Solution",Education Technology,04-09-2022,10-09-2022,Excited to get started!,1,1,0,1,1,0,0,Sales Activity,NaN,NaN,NaN
3,wbriggs@example.net,user,"Gonzales, Martin and Carter Initiative",Media and Entertainment,04-09-2022,10-09-2022,Excited to get started!,0,1,2,0,2,2,0,Sales Activity,NaN,NaN,NaN
4,wbriggs@example.net,user,"Gonzales, Martin and Carter Initiative",Media and Entertainment,04-09-2022,10-09-2022,Excited to get started!,0,1,2,0,2,2,0,BAU Activity,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171598,rodneyfischer@example.org,admin,Olson-Craig Solution,Cybersecurity,25-12-2022,31-12-2022,Ready to dive in,2,2,8,1,7,0,0,Sales Activity,Were the project goals clearly defined? Please...,5.0,NaN
171599,rodneyfischer@example.org,admin,Olson-Craig Solution,Cybersecurity,25-12-2022,31-12-2022,Ready to dive in,2,2,8,1,7,0,0,BAU Activity,Were the project goals clearly defined? Please...,5.0,NaN
171600,rodneyfischer@example.org,admin,Saunders LLC Solution,Healthcare,10-12-2023,16-12-2023,NaN,0,1,9,0,6,4,1,Sales Activity,NaN,NaN,NaN
171601,rodneyfischer@example.org,admin,Briggs-Jennings Project,Healthcare,22-05-2022,28-05-2022,NaN,1,3,0,0,0,10,0,BAU Activity,NaN,NaN,NaN
171602,rodneyfischer@example.org,admin,Briggs-Jennings Project,Healthcare,22-05-2022,28-05-2022,NaN,1,3,0,0,0,10,0,Sales Activity,NaN,NaN,NaN

In [10]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171603 entries, 0 to 171602
Data columns (total 18 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   USER_EMAIL               171603 non-null  object
 1   USER_ROLE                171603 non-null  object
 2   PROJECT_NAME             171603 non-null  object
 3   PROJECT_DOMAIN           171603 non-null  object
 4   DATE_START               171603 non-null  object
 5   DATE_END                 171603 non-null  object
 6   TIMESHEET_COMMENT_ADDED  85913 non-null   object
 7   TIMESHEET_D0             171603 non-null  int64
 8   TIMESHEET_D1             171603 non-null  int64
 9   TIMESHEET_D2             171603 non-null  int64
 10  TIMESHEET_D3             171603 non-null  int64
 11  TIMESHEET_D4             171603 non-null  int64
 12  TIMESHEET_D5             171603 non-null  int64
 13  TIMESHEET_D6             171603 non-null  int64
 14  TIMESHEET_ACTIVITY_NAME  171603 non-null  object
 15  FEEDBACK_QUESTION        13387 non-null   object
 16  FEEDBACK_CHECKED_ANSWER  13387 non-null   float64
 17  FEEDBACK_TEXT_ANSWER     2785 non-null    object
dtypes: float64(1), int64(7), object(10)
memory usage: 23.6+ MB

## Fill Nulls from dataset

In [11]:
main_df.isnull().sum(axis=0)

USER_EMAIL                      0
USER_ROLE                       0
PROJECT_NAME                    0
PROJECT_DOMAIN                  0
DATE_START                      0
DATE_END                        0
TIMESHEET_COMMENT_ADDED     85690
TIMESHEET_D0                    0
TIMESHEET_D1                    0
TIMESHEET_D2                    0
TIMESHEET_D3                    0
TIMESHEET_D4                    0
TIMESHEET_D5                    0
TIMESHEET_D6                    0
TIMESHEET_ACTIVITY_NAME         0
FEEDBACK_QUESTION          158216
FEEDBACK_CHECKED_ANSWER    158216
FEEDBACK_TEXT_ANSWER       168818
dtype: int64

In [12]:
main_df = main_df.fillna('')

In [13]:
main_df.isnull().sum(axis=0)

USER_EMAIL                 0
USER_ROLE                  0
PROJECT_NAME               0
PROJECT_DOMAIN             0
DATE_START                 0
DATE_END                   0
TIMESHEET_COMMENT_ADDED    0
TIMESHEET_D0               0
TIMESHEET_D1               0
TIMESHEET_D2               0
TIMESHEET_D3               0
TIMESHEET_D4               0
TIMESHEET_D5               0
TIMESHEET_D6               0
TIMESHEET_ACTIVITY_NAME    0
FEEDBACK_QUESTION          0
FEEDBACK_CHECKED_ANSWER    0
FEEDBACK_TEXT_ANSWER       0
dtype: int64

## Cleaning

In [14]:
main_df['DATE_START'] = pd.to_datetime(main_df['DATE_START'], format='%d-%m-%Y')
main_df['DATE_END'] = pd.to_datetime(main_df['DATE_END'], format='%d-%m-%Y')

In [15]:
main_df = main_df.drop_duplicates()

In [16]:
main_df

,USER_EMAIL,USER_ROLE,PROJECT_NAME,PROJECT_DOMAIN,DATE_START,DATE_END,TIMESHEET_COMMENT_ADDED,TIMESHEET_D0,TIMESHEET_D1,TIMESHEET_D2,TIMESHEET_D3,TIMESHEET_D4,TIMESHEET_D5,TIMESHEET_D6,TIMESHEET_ACTIVITY_NAME,FEEDBACK_QUESTION,FEEDBACK_CHECKED_ANSWER,FEEDBACK_TEXT_ANSWER
0,wbriggs@example.net,user,Chaney Inc Solution,Media and Entertainment,2022-09-04,2022-09-10,,0,1,1,2,0,2,1,Sales Activity,,,
1,wbriggs@example.net,user,"Wilson, Jackson and Green Solution",Education Technology,2022-09-04,2022-09-10,Excited to get started!,1,1,0,1,1,0,0,BAU Activity,,,
2,wbriggs@example.net,user,"Wilson, Jackson and Green Solution",Education Technology,2022-09-04,2022-09-10,Excited to get started!,1,1,0,1,1,0,0,Sales Activity,,,
3,wbriggs@example.net,user,"Gonzales, Martin and Carter Initiative",Media and Entertainment,2022-09-04,2022-09-10,Excited to get started!,0,1,2,0,2,2,0,Sales Activity,,,
4,wbriggs@example.net,user,"Gonzales, Martin and Carter Initiative",Media and Entertainment,2022-09-04,2022-09-10,Excited to get started!,0,1,2,0,2,2,0,BAU Activity,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171598,rodneyfischer@example.org,admin,Olson-Craig Solution,Cybersecurity,2022-12-25,2022-12-31,Ready to dive in,2,2,8,1,7,0,0,Sales Activity,Were the project goals clearly defined? Please...,5.0,
171599,rodneyfischer@example.org,admin,Olson-Craig Solution,Cybersecurity,2022-12-25,2022-12-31,Ready to dive in,2,2,8,1,7,0,0,BAU Activity,Were the project goals clearly defined? Please...,5.0,
171600,rodneyfischer@example.org,admin,Saunders LLC Solution,Healthcare,2023-12-10,2023-12-16,,0,1,9,0,6,4,1,Sales Activity,,,
171601,rodneyfischer@example.org,admin,Briggs-Jennings Project,Healthcare,2022-05-22,2022-05-28,,1,3,0,0,0,10,0,BAU Activity,,,
171602,rodneyfischer@example.org,admin,Briggs-Jennings Project,Healthcare,2022-05-22,2022-05-28,,1,3,0,0,0,10,0,Sales Activity,,,

# **Select Features**

In [17]:
attendance_regulariation_columns = ['USER_EMAIL', 'USER_ROLE', 'PROJECT_NAME', 'PROJECT_DOMAIN', 'TIMESHEET_D0', 'TIMESHEET_D1', 'TIMESHEET_D2',
                    'TIMESHEET_D3', 'TIMESHEET_D4', 'TIMESHEET_D5', 'TIMESHEET_D6', 'DATE_START',
                    'DATE_END', 'TIMESHEET_ACTIVITY_NAME']

attendance_regulariation_df = main_df[attendance_regulariation_columns].copy()
attendance_regulariation_df.drop_duplicates()
attendance_regulariation_df

,USER_EMAIL,USER_ROLE,PROJECT_NAME,PROJECT_DOMAIN,TIMESHEET_D0,TIMESHEET_D1,TIMESHEET_D2,TIMESHEET_D3,TIMESHEET_D4,TIMESHEET_D5,TIMESHEET_D6,DATE_START,DATE_END,TIMESHEET_ACTIVITY_NAME
0,wbriggs@example.net,user,Chaney Inc Solution,Media and Entertainment,0,1,1,2,0,2,1,2022-09-04,2022-09-10,Sales Activity
1,wbriggs@example.net,user,"Wilson, Jackson and Green Solution",Education Technology,1,1,0,1,1,0,0,2022-09-04,2022-09-10,BAU Activity
2,wbriggs@example.net,user,"Wilson, Jackson and Green Solution",Education Technology,1,1,0,1,1,0,0,2022-09-04,2022-09-10,Sales Activity
3,wbriggs@example.net,user,"Gonzales, Martin and Carter Initiative",Media and Entertainment,0,1,2,0,2,2,0,2022-09-04,2022-09-10,Sales Activity
4,wbriggs@example.net,user,"Gonzales, Martin and Carter Initiative",Media and Entertainment,0,1,2,0,2,2,0,2022-09-04,2022-09-10,BAU Activity
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171598,rodneyfischer@example.org,admin,Olson-Craig Solution,Cybersecurity,2,2,8,1,7,0,0,2022-12-25,2022-12-31,Sales Activity
171599,rodneyfischer@example.org,admin,Olson-Craig Solution,Cybersecurity,2,2,8,1,7,0,0,2022-12-25,2022-12-31,BAU Activity
171600,rodneyfischer@example.org,admin,Saunders LLC Solution,Healthcare,0,1,9,0,6,4,1,2023-12-10,2023-12-16,Sales Activity
171601,rodneyfischer@example.org,admin,Briggs-Jennings Project,Healthcare,1,3,0,0,0,10,0,2022-05-22,2022-05-28,BAU Activity
171602,rodneyfischer@example.org,admin,Briggs-Jennings Project,Healthcare,1,3,0,0,0,10,0,2022-05-22,2022-05-28,Sales Activity

# **Feature Engineering**

## Extracting required Columns and adding more Columns

In [18]:
# Group by USER_EMAIL and PROJECT_DATE_START, then calculate the sum of total hours worked
attendance_regulariation_df = attendance_regulariation_df.groupby(['USER_EMAIL', 'DATE_START'])[['TIMESHEET_D0', 'TIMESHEET_D1', 
                                                                      'TIMESHEET_D2', 'TIMESHEET_D3', 
                                                                      'TIMESHEET_D4', 'TIMESHEET_D5', 
                                                                      'TIMESHEET_D6']].sum()

attendance_regulariation_df['TOTAL_HOURS_WORKED_FOR_WEEK'] = attendance_regulariation_df.sum(axis=1)
attendance_regulariation_df['AVERAGE_DAILY_HOURS_WORKED'] = attendance_regulariation_df.mean(axis=1)
attendance_regulariation_df.reset_index(inplace=True)
attendance_regulariation_df

,USER_EMAIL,DATE_START,TIMESHEET_D0,TIMESHEET_D1,TIMESHEET_D2,TIMESHEET_D3,TIMESHEET_D4,TIMESHEET_D5,TIMESHEET_D6,TOTAL_HOURS_WORKED_FOR_WEEK,AVERAGE_DAILY_HOURS_WORKED
0,aaron25@example.com,2022-07-24,5,2,11,10,2,5,3,38,9.50
1,aaron25@example.com,2022-07-31,6,12,12,7,4,8,3,52,13.00
2,aaron25@example.com,2022-10-16,0,16,2,6,2,0,8,34,8.50
3,aaron25@example.com,2023-03-05,7,2,9,3,7,9,5,42,10.50
4,aaron25@example.com,2023-05-21,2,0,0,1,5,3,0,11,2.75
...,...,...,...,...,...,...,...,...,...,...,...
45668,zwilliamson@example.org,2023-12-17,3,5,6,8,8,8,2,40,10.00
45669,zwilliamson@example.org,2023-12-24,4,14,4,8,4,12,12,58,14.50
45670,zwilliamson@example.org,2024-02-25,4,6,10,8,6,10,8,52,13.00
45671,zwolf@example.org,2022-06-26,0,6,0,1,2,0,0,9,2.25
45672,zwolf@example.org,2023-10-15,0,9,10,1,4,0,0,24,6.00

In [19]:
weekly_regularization_threshold = 40
daily_regularization_threshold = 8
frequency_regularization_threshold = 6

## getting who needs regularization

In [20]:
attendance_regulariation_df['NEEDS_REGULARIZATION_FOR_WEEK'] = (attendance_regulariation_df['TOTAL_HOURS_WORKED_FOR_WEEK'] < weekly_regularization_threshold).astype(int)
attendance_regulariation_df['NEEDS_REGULARIZATION_FOR_DAY'] = (attendance_regulariation_df['AVERAGE_DAILY_HOURS_WORKED'] < daily_regularization_threshold).astype(int)
attendance_regulariation_df

,USER_EMAIL,DATE_START,TIMESHEET_D0,TIMESHEET_D1,TIMESHEET_D2,TIMESHEET_D3,TIMESHEET_D4,TIMESHEET_D5,TIMESHEET_D6,TOTAL_HOURS_WORKED_FOR_WEEK,AVERAGE_DAILY_HOURS_WORKED,NEEDS_REGULARIZATION_FOR_WEEK,NEEDS_REGULARIZATION_FOR_DAY
0,aaron25@example.com,2022-07-24,5,2,11,10,2,5,3,38,9.50,1,0
1,aaron25@example.com,2022-07-31,6,12,12,7,4,8,3,52,13.00,0,0
2,aaron25@example.com,2022-10-16,0,16,2,6,2,0,8,34,8.50,1,0
3,aaron25@example.com,2023-03-05,7,2,9,3,7,9,5,42,10.50,0,0
4,aaron25@example.com,2023-05-21,2,0,0,1,5,3,0,11,2.75,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45668,zwilliamson@example.org,2023-12-17,3,5,6,8,8,8,2,40,10.00,0,0
45669,zwilliamson@example.org,2023-12-24,4,14,4,8,4,12,12,58,14.50,0,0
45670,zwilliamson@example.org,2024-02-25,4,6,10,8,6,10,8,52,13.00,0,0
45671,zwolf@example.org,2022-06-26,0,6,0,1,2,0,0,9,2.25,1,1
45672,zwolf@example.org,2023-10-15,0,9,10,1,4,0,0,24,6.00,1,1

## getting each users' regularization needs

In [21]:
needs_regulatization_freq = attendance_regulariation_df.groupby('USER_EMAIL')[['NEEDS_REGULARIZATION_FOR_WEEK', 'NEEDS_REGULARIZATION_FOR_DAY']].sum().reset_index()
needs_regulatization_freq['NEEDS_REGULARIZATION_FREQ'] = needs_regulatization_freq[['NEEDS_REGULARIZATION_FOR_WEEK', 'NEEDS_REGULARIZATION_FOR_DAY']].sum(axis=1)

user_weekly_regularization_flags = (attendance_regulariation_df.groupby('USER_EMAIL')['NEEDS_REGULARIZATION_FOR_WEEK'].mean() < 0.5).reset_index()
user_daily_regularization_flags = (attendance_regulariation_df.groupby('USER_EMAIL')['NEEDS_REGULARIZATION_FOR_DAY'].mean() < 0.5).reset_index()

In [22]:
needs_regulatization_freq

,USER_EMAIL,NEEDS_REGULARIZATION_FOR_WEEK,NEEDS_REGULARIZATION_FOR_DAY,NEEDS_REGULARIZATION_FREQ
0,aaron25@example.com,5,3,8
1,aaron65@example.com,3,3,6
2,aaron69@example.org,9,8,17
3,aaron85@example.net,5,3,8
4,aaronjensen@example.org,4,3,7
...,...,...,...,...
4078,ztucker@example.org,9,8,17
4079,zvaldez@example.com,3,1,4
4080,zweber@example.net,9,7,16
4081,zwilliamson@example.org,17,13,30
4082,zwolf@example.org,2,2,4

In [23]:
user_weekly_regularization_flags

                   USER_EMAIL  NEEDS_REGULARIZATION_FOR_WEEK
0         aaron25@example.com                          False
1         aaron65@example.com                          False
2         aaron69@example.org                          False
3         aaron85@example.net                          False
4     aaronjensen@example.org                          False
...                       ...                            ...
4078      ztucker@example.org                          False
4079      zvaldez@example.com                          False
4080       zweber@example.net                          False
4081  zwilliamson@example.org                          False
4082        zwolf@example.org                          False

[4083 rows x 2 columns]

In [24]:
user_daily_regularization_flags

                   USER_EMAIL  NEEDS_REGULARIZATION_FOR_DAY
0         aaron25@example.com                          True
1         aaron65@example.com                         False
2         aaron69@example.org                         False
3         aaron85@example.net                          True
4     aaronjensen@example.org                          True
...                       ...                           ...
4078      ztucker@example.org                         False
4079      zvaldez@example.com                          True
4080       zweber@example.net                          True
4081  zwilliamson@example.org                          True
4082        zwolf@example.org                         False

[4083 rows x 2 columns]

## filtering users needing regularization based on number of hours worked and average daily hours worked

In [25]:
users_needing_regularization = set(user_weekly_regularization_flags[user_weekly_regularization_flags['NEEDS_REGULARIZATION_FOR_WEEK']]['USER_EMAIL'].tolist()).intersection(user_daily_regularization_flags[user_daily_regularization_flags['NEEDS_REGULARIZATION_FOR_DAY']]['USER_EMAIL'].tolist())
users_needing_regularization

{'aboyd@example.org',
 'acoleman@example.com',
 'adam28@example.net',
 'aherrera@example.net',
 'ajacobs@example.net',
 'alanlee@example.net',
 'alara@example.com',
 'alexanderoneill@example.org',
 'alexis92@example.com',
 'alicia54@example.com',
 'alisha16@example.com',
 'allenashley@example.org',
 'allenjoseph@example.org',
 'amanda79@example.net',
 'amanda89@example.net',
 'amandabranch@example.net',
 'amandawilliams@example.net',
 'amber08@example.org',
 'amber26@example.com',
 'amcclure@example.org',
 'amiller@example.com',
 'amiller@example.org',
 'amy52@example.net',
 'amyhatfield@example.net',
 'andersonmatthew@example.com',
 'andreaoconnell@example.net',
 'andrew20@example.net',
 'andrew45@example.org',
 'andrew90@example.org',
 'andrewadams@example.org',
 'andrewayers@example.net',
 'andrewcoleman@example.org',
 'andrewhood@example.org',
 'andrewmills@example.com',
 'angela52@example.net',
 'angela69@example.org',
 'angela80@example.org',
 'angelahall@example.org',
 'annaleach@example.net',
 'annlivingston@example.net',
 'anthony54@example.org',
 'anthonybates@example.com',
 'anthonyfrench@example.net',
 'anthonyjulie@example.org',
 'anthonysmith@example.org',
 'aortiz@example.net',
 'aprilchase@example.net',
 'aprilhamilton@example.com',
 'aprilvasquez@example.org',
 'armstrongwayne@example.org',
 'arthur87@example.net',
 'ashleejones@example.org',
 'ashley07@example.com',
 'astevens@example.org',
 'austindonald@example.org',
 'awilliams@example.net',
 'baileybenjamin@example.net',
 'baileycrystal@example.com',
 'baileymichael@example.net',
 'bakerdonald@example.com',
 'bakerjulie@example.com',
 'baldwinkathleen@example.org',
 'barajaschad@example.com',
 'barronhannah@example.com',
 'barry10@example.com',
 'bartlettcameron@example.net',
 'basslisa@example.org',
 'bcarroll@example.org',
 'bchapman@example.com',
 'benjamin56@example.org',
 'benjaminblack@example.com',
 'bennettlaura@example.net',
 'bensonvirginia@example.com',
 'bergerjames@example.net',
 'bethgray@example.com',
 'bharris@example.org',
 'blacknicole@example.net',
 'blake95@example.com',
 'blakesamuel@example.com',
 'bmeadows@example.net',
 'bobbyhill@example.org',
 'bperez@example.net',
 'brad18@example.org',
 'bradleyewing@example.net',
 'brandon15@example.com',
 'brandonmendez@example.org',
 'brandonwilliams@example.org',
 'brendan66@example.com',
 'brett99@example.net',
 'brewersteven@example.net',
 'brian02@example.net',
 'brian48@example.org',
 'brianlee@example.org',
 'brianna13@example.net',
 'brianperkins@example.net',
 'brittney44@example.net',
 'broberts@example.net',
 'brownmichele@example.com',
 'brucedawson@example.org',
 'brucezachary@example.org',
 'bryantdarryl@example.net',
 'bryantmary@example.org',
 'bryanwilliams@example.net',
 'bryce17@example.net',
 'bsmith@example.net',
 'btodd@example.net',
 'burgessrebecca@example.org',
 'butlerdanny@example.net',
 'butlerlisa@example.net',
 'caitlinhicks@example.net',
 'camachoann@example.com',
 'campbelljay@example.com',
 'camposmargaret@example.org',
 'candrade@example.org',
 'carl90@example.org',
 'carlsonchris@example.net',
 'carol21@example.net',
 'carolgill@example.net',
 'carolineclark@example.com',
 'carpenterelizabeth@example.net',
 'carrollalexandria@example.org',
 'carrolldawn@example.com',
 'carternathaniel@example.org',
 'cervantespatricia@example.net',
 'cfoster@example.net',
 'cgutierrez@example.com',
 'chad63@example.net',
 'chancaroline@example.net',
 'charlesbaker@example.com',
 'charlesguerra@example.net',
 'charlespowers@example.net',
 'chavezholly@example.net',
 'christensenanna@example.org',
 'christiancooper@example.com',
 'christina24@example.com',
 'christinagarcia@example.net',
 'christinawilliams@example.org',
 'christine48@example.net',
 'christine56@example.org',
 'christinecuevas@example.com',
 'christopher29@example.com',
 'christopher31@example.net',
 'christopherhouston@example.com',
 'christywelch@example.org',
 'chull@example.com',
 'cjohnson@example.org',
 'clarkeelizabeth@example.net',
 'clarkyvonne@example.com',
 'claytonraymond@example.net',
 'clee@example.org',
 'cmontoya@example.org',
 'colleenberger@example.net',
 'collierchad@example.com',
 'collinstraci@example.net',
 'conleypatricia@example.org',
 'cookpamela@example.org',
 'cooleyandrew@example.org',
 'coopersandra@example.org',
 'copelandkathleen@example.org',
 'coreycampbell@example.org',
 'coreycunningham@example.com',
 'coreyritter@example.com',
 'courtneymccarthy@example.org',
 'craigalan@example.com',
 'crasmussen@example.com',
 'crossdaniel@example.com',
 'crystal38@example.net',
 'cthompson@example.net',
 'cthompson@example.org',
 'curtis21@example.org',
 'cwerner@example.com',
 'cwright@example.org',
 'daisy82@example.com',
 'daniel61@example.com',
 'daniel91@example.org',
 'danielthompson@example.net',
 'danny43@example.com',
 'dannychristensen@example.net',
 'darren30@example.com',
 'darrenyates@example.net',
 'darrylhamilton@example.net',
 'david31@example.com',
 'david54@example.net',
 'david57@example.org',
 'david74@example.com',
 'david81@example.org',
 'davidjohnson@example.org',
 'davidsmith@example.org',
 'davidsonjoshua@example.com',
 'daviessarah@example.net',
 'dawnramsey@example.com',
 'deanjason@example.com',
 'deannawilson@example.net',
 'deborahtran@example.org',
 'denise26@example.org',
 'derrick94@example.com',
 'derrickmacdonald@example.net',
 'dfreeman@example.net',
 'dhawkins@example.com',
 'dixonkimberly@example.org',
 'djensen@example.net',
 'djohnson@example.com',
 'djones@example.org',
 'dkidd@example.org',
 'dking@example.org',
 'donald28@example.org',
 'dongilbert@example.net',
 'donnamcintyre@example.com',
 'donnamejia@example.net',
 'douglas69@example.com',
 'douglasramirez@example.com',
 'drowe@example.com',
 'dscott@example.net',
 'dudleyrichard@example.net',
 'dudleysamantha@example.com',
 'dyerpatrick@example.com',
 'eduardo80@example.org',
 'edwardjordan@example.net',
 'edwardssavannah@example.com',
 'egarrett@example.net',
 'ehanson@example.org',
 'ehill@example.net',
 'ehunter@example.org',
 'elizabeth34@example.org',
 'elizabeth73@example.com',
 'elizabeth77@example.org',
 'elizabethbautista@example.org',
 'elizabethdominguez@example.org',
 'elizabethgibson@example.org',
 'emarks@example.org',
 'emmaholland@example.org',
 'emolina@example.org',
 'emyers@example.net',
 'enichols@example.com',
 'erica42@example.com',
 'erica52@example.net',
 'ericgoodman@example.net',
 'ericporter@example.net',
 'ericwilson@example.net',
 'erin77@example.com',
 'erobinson@example.net',
 'erose@example.net',
 'escobarbarbara@example.net',
 'ethanramirez@example.net',
 'ethomas@example.net',
 'eugenenielsen@example.org',
 'evansrandall@example.com',
 'ewhite@example.org',
 'fbeck@example.net',
 'fbrown@example.com',
 'fconner@example.com',
 'felicia61@example.org',
 'fharrison@example.net',
 'fieldsmark@example.net',
 'fitzpatrickkevin@example.com',
 'fjackson@example.net',
 'fjennings@example.org',
 'fking@example.net',
 'fletchernicole@example.com',
 'floydcolin@example.org',
 'fmcguire@example.com',
 'fordnathan@example.com',
 'frazierbrett@example.org',
 'freemankelly@example.net',
 'gabrielcalderon@example.com',
 'gail38@example.com',
 'garciakatherine@example.org',
 'garnerandrea@example.com',
 'gary52@example.com',
 'garywilson@example.net',
 'gberg@example.net',
 'gerald89@example.com',
 'ghill@example.com',
 'gilesheather@example.org',
 'gjones@example.org',
 'gkaiser@example.com',
 'gking@example.org',
 'glee@example.net',
 'glennkylie@example.org',
 'gmiller@example.org',
 'gmunoz@example.org',
 'gmyers@example.com',
 'gnewton@example.org',
 'gonzalezallen@example.net',
 'gracehouse@example.com',
 'greenejoseph@example.org',
 'greenesean@example.net',
 'greenkaren@example.net',
 'greentimothy@example.com',
 'gregory25@example.net',
 'gregoryfernandez@example.net',
 'gregorymorgan@example.org',
 'griffinrobert@example.net',
 'grivera@example.com',
 'guzmanronald@example.com',
 'haleycole@example.org',
 'harrismckenzie@example.net',
 'harrisonalison@example.org',
 'hartjill@example.com',
 'hbeck@example.net',
 'hchurch@example.net',
 'hcordova@example.net',
 'heatherbrown@example.org',
 'hector11@example.net',
 'hernandezjohn@example.org',
 'hgarza@example.net',
 'hhunter@example.com',
 'hjones@example.org',
 'hkim@example.org',
 'hmorrison@example.com',
 'hollywilliams@example.net',
 'holtkimberly@example.net',
 'holtsamuel@example.net',
 'hortontracy@example.net',
 'houstonkaren@example.org',
 'hparsons@example.com',
 'hurleyjanice@example.net',
 'icrawford@example.net',
 'idavis@example.com',
 'idavis@example.net',
 'iharper@example.net',
 'iharris@example.com',
 'ihoffman@example.com',
 'iholloway@example.com',
 'ijohnson@example.net',
 'ikim@example.com',
 'iklein@example.com',
 'ilewis@example.org',
 'inash@example.com',
 'inolan@example.org',
 'irobinson@example.org',
 'iwalker@example.net',
 'jack54@example.net',
 'jacksonjones@example.org',
 'jacksonmarc@example.com',
 'jackwinters@example.com',
 'jacob64@example.net',
 'jacobpowell@example.org',
 'jacqueline11@example.org',
 'jacquelinestewart@example.org',
 'james91@example.com',
 'jamesflores@example.org',
 'jameshodge@example.com',
 'jamesholder@example.net',
 'jameshuber@example.net',
 'jamessandoval@example.org',
 'jasminebuck@example.org',
 'jasminecurry@example.com',
 'jasonbooker@example.org',
 'jasoncox@example.net',
 'jasonolsen@example.net',
 'jasonsherman@example.org',
 'javiersnyder@example.com',
 'jcowan@example.net',
 'jeandrake@example.org',
 'jeffrey03@example.com',
 'jeffrey55@example.net',
 'jeffreyberry@example.net',
 'jeffreyhampton@example.com',
 'jeffreyjones@example.com',
 'jeffreymitchell@example.org',
 'jeffvasquez@example.org',
 'jennifer08@example.net',
 'jennifer27@example.org',
 'jennifer89@example.net',
 'jenniferhernandez@example.org',
 'jennyward@example.net',
 'jessica65@example.com',
 'jessicafarley@example.net',
 'jessicarandall@example.org',
 'jim50@example.com',
 'jlewis@example.org',
 'jmartin@example.org',
 'jodi21@example.com',
 'john56@example.com',
 'johncortez@example.com',
 'johnduncan@example.com',
 'johnnykerr@example.org',
 'johnsonbrenda@example.com',
 'johnsonbrian@example.org',
 'johnsoncurtis@example.net',
 'johnsondeanna@example.com',
 'johnsonjessica@example.net',
 'johnsonmary@example.org',
 'johnsonpaul@example.com',
 'jonathan53@example.org',
 'jonathanayala@example.com',
 'jonesdonald@example.net',
 'jonesjohnny@example.com',
 'joneskathy@example.org',
 'jonesshawn@example.org',
 'jose81@example.org',
 'josearmstrong@example.net',
 'joseph28@example.com',
 'josephperkins@example.org',
 'joshuasanchez@example.org',
 'jreilly@example.net',
 'jstanton@example.org',
 'juan31@example.net',
 'judithbrown@example.org',
 'juliajuarez@example.org',
 'julianstout@example.net',
 'justin78@example.org',
 'justinshaw@example.net',
 'kallen@example.net',
 'karen81@example.org',
 'kathleen27@example.net',
 'kathleenbrown@example.com',
 'kathleenjohnson@example.net',
 'kathryngarcia@example.net',
 'katie70@example.net',
 'katielester@example.net',
 'kayla56@example.com',
 'kayla81@example.com',
 'kaylabuchanan@example.org',
 'kaylasolomon@example.org',
 'kblankenship@example.org',
 'kbrown@example.com',
 'kbyrd@example.net',
 'kchavez@example.com',
 'kcruz@example.com',
 'keith33@example.org',
 'keith36@example.net',
 'keith58@example.com',
 'kellerchristine@example.org',
 'kellihaas@example.com',
 'kelly46@example.org',
 'kellybowen@example.net',
 'kellybrian@example.org',
 'kellyburns@example.net',
 'kellycharles@example.org',
 'kellystone@example.net',
 'kenneththomas@example.com',
 'kevin46@example.com',
 'kevin84@example.net',
 'kevinwalter@example.com',
 'kiarakidd@example.com',
 'kimberly91@example.net',
 'kimberlyhahn@example.net',
 'kingdaniel@example.org',
 'kingkathy@example.com',
 'kmaddox@example.org',
 'kmiller@example.org',
 'kristen87@example.org',
 'kristenclark@example.org',
 'krodriguez@example.org',
 'kruegerjoshua@example.com',
 'ksimpson@example.org',
 'lallen@example.com',
 'lancewright@example.org',
 'laurareeves@example.org',
 'lauraryan@example.com',
 'laurenbooker@example.org',
 'lauriesloan@example.com',
 'lauriestewart@example.org',
 'lblankenship@example.com',
 'leblancnancy@example.net',
 'leebrandon@example.com',
 'leebrian@example.com',
 'leemichael@example.net',
 'leezoe@example.org',
 'leonardbarron@example.net',
 'leslieshaw@example.org',
 'levyangela@example.net',
 'lewisjoseph@example.org',
 'lewiswanda@example.org',
 'lhull@example.com',
 'linda20@example.org',
 'lindafisher@example.net',
 'lindseygonzales@example.net',
 'lindseyjohn@example.com',
 'lisa19@example.com',
 'lisa41@example.org',
 'lisa67@example.org',
 'lisa95@example.net',
 'lisajackson@example.org',
 'lisasoto@example.net',
 'lmartin@example.org',
 'longlaurie@example.net',
 'lorettarobinson@example.net',
 'lorihopkins@example.net',
 'lpollard@example.org',
 'lramirez@example.com',
 'lsanders@example.net',
 'lscott@example.com',
 'lsuarez@example.net',
 'lynn17@example.org',
 'maciascourtney@example.org',
 'mannfrancisco@example.org',
 'mannsamantha@example.com',
 'margaret35@example.net',
 'margaretreid@example.net',
 'maria61@example.net',
 'mariodyer@example.org',
 'mark15@example.com',
 'markhunt@example.net',
 'markking@example.net',
 'markmata@example.org',
 'markmedina@example.org',
 'marshallnicholas@example.net',
 'martin14@example.org',
 'martinezjoseph@example.org',
 'martinkenneth@example.net',
 'mary05@example.com',
 'mary89@example.com',
 'maryholmes@example.net',
 'marylewis@example.com',
 'marysimmons@example.org',
 'masonjeffrey@example.com',
 'matthew77@example.net',
 'matthew93@example.com',
 'matthewhoffman@example.org',
 'matthewjohnson@example.net',
 'matthewmartin@example.org',
 'matthewnguyen@example.net',
 'mcampbell@example.com',
 'mcdanieljames@example.org',
 'mcgeephillip@example.com',
 'mckeeemily@example.net',
 'mckeejulie@example.com',
 'mcmillanrachael@example.org',
 'medinadominic@example.com',
 'megan90@example.net',
 'meghanbarr@example.net',
 'melanie21@example.org',
 'melissa24@example.org',
 'melissamoss@example.net',
 'melissaroach@example.com',
 'mezarebecca@example.net',
 'mfernandez@example.net',
 'mfisher@example.com',
 'mhill@example.net',
 'mhughes@example.org',
 'michael05@example.org',
 'michael17@example.net',
 'michael32@example.org',
 'michael43@example.org',
 'michael55@example.net',
 'michael76@example.com',
 'michael76@example.net',
 'michael99@example.net',
 'michaelarichardson@example.com',
 'michaelgray@example.net',
 'michaelgriffin@example.com',
 'michaelhernandez@example.org',
 'michaelrocha@example.net',
 'michaeltownsend@example.org',
 'michele44@example.net',
 'michelle02@example.com',
 'michelledavis@example.net',
 'miguelsmith@example.org',
 'millerjustin@example.org',
 'millernicholas@example.net',
 'mlee@example.net',
 'mmayer@example.net',
 'molinashannon@example.org',
 'montesryan@example.com',
 'moodynancy@example.com',
 'moonmichelle@example.net',
 'mooreandrew@example.net',
 'moorethomas@example.net',
 'morenovalerie@example.com',
 'morrissamuel@example.com',
 'mosleykaren@example.com',
 'mossholly@example.net',
 'mosskrista@example.net',
 'mthompson@example.net',
 'murphyjessica@example.org',
 'murphyveronica@example.com',
 'murrayamber@example.com',
 'murraydavid@example.com',
 'mwilliams@example.net',
 'natalie85@example.org',
 'nataliebowers@example.com',
 'nbrown@example.com',
 'ncase@example.com',
 'ncox@example.com',
 'ncruz@example.com',
 'neil78@example.com',
 'nelsoncolleen@example.net',
 'ngray@example.net',
 'ngriffith@example.com',
 'nicholas05@example.com',
 'nicholasblair@example.net',
 'nicholasedwards@example.org',
 'nicole11@example.org',
 'nicolemiller@example.com',
 'nicolerobles@example.com',
 'nielsendean@example.org',
 'nielsenjeremy@example.com',
 'nreed@example.com',
 'nsmith@example.com',
 'nsmith@example.net',
 'nvelazquez@example.org',
 'oblair@example.org',
 'obrienrodney@example.org',
 'ocontreras@example.com',
 'oelliott@example.net',
 'onichols@example.com',
 'ostephens@example.org',
 'owilliams@example.net',
 'pacebrent@example.com',
 'palmerhaley@example.org',
 'pamelasmith@example.net',
 'parkermichael@example.net',
 'patriciajones@example.com',
 'patriciayoung@example.net',
 'patrickbrooke@example.net',
 'paul75@example.org',
 'paul97@example.net',
 'paula44@example.net',
 'paulcaldwell@example.org',
 'paulking@example.com',
 'paulsteven@example.com',
 'paynecourtney@example.com',
 'pbaker@example.net',
 'pdavila@example.net',
 'peggymartin@example.net',
 'penamichele@example.org',
 'perezjasmine@example.org',
 'peterskristine@example.com',
 'petersmonica@example.org',
 'petersonashley@example.com',
 'phardin@example.net',
 'piercecassandra@example.com',
 'pjohnson@example.org',
 'pollardrachel@example.org',
 'powelltonya@example.com',
 'powerslisa@example.org',
 'prestonkevin@example.net',
 'pricejody@example.com',
 'proctorjuan@example.com',
 'pwarren@example.com',
 'qbrown@example.com',
 'qcarter@example.net',
 'qellis@example.org',
 'qgonzalez@example.com',
 'qharrison@example.net',
 'qjohnson@example.org',
 'qmckenzie@example.com',
 'qmckenzie@example.org',
 'qrodriguez@example.net',
 'qsantos@example.com',
 'qscott@example.com',
 'qtaylor@example.net',
 'qwhite@example.com',
 'rachelspence@example.com',
 'ralphcarroll@example.net',
 'ramirezanne@example.org',
 'randall85@example.org',
 'randy29@example.org',
 'randy72@example.com',
 'ravendaniels@example.net',
 'rbaker@example.net',
 'rbest@example.com',
 'rblanchard@example.com',
 'rdaugherty@example.org',
 'rdavidson@example.net',
 'rebecca27@example.com',
 'rebecca97@example.net',
 'rebeccalittle@example.net',
 'reeveslisa@example.org',
 'reginaharmon@example.org',
 'reynoldslaura@example.net',
 'richadrienne@example.net',
 'richardbyrd@example.org',
 'richardgreene@example.net',
 'richardpearson@example.org',
 'rickygarcia@example.net',
 'rita06@example.net',
 'riverachristopher@example.org',
 'robersonlynn@example.net',
 'robert29@example.net',
 'robert43@example.net',
 'robert85@example.com',
 'robert98@example.org',
 'robertaholloway@example.net',
 'robertrandolph@example.org',
 'robertsstacey@example.net',
 'robin50@example.org',
 'robin81@example.org',
 'robinsoncharles@example.net',
 'robinsonroger@example.net',
 'rodney91@example.com',
 'rodriguezangela@example.net',
 'rodriguezkenneth@example.org',
 'rogerscassandra@example.org',
 'ronald20@example.net',
 'ronald44@example.net',
 'ronaldsmith@example.org',
 'ronnie27@example.net',
 'roselarry@example.net',
 'rosssamantha@example.org',
 'rowejennifer@example.org',
 'rramos@example.org',
 'rsolis@example.org',
 'ruizanthony@example.net',
 'ruizjames@example.com',
 'russellkristen@example.org',
 'rwright@example.com',
 'ryan52@example.net',
 'ryaningram@example.com',
 'ryanmunoz@example.org',
 'sabrina27@example.org',
 'salazarbenjamin@example.net',
 'samantha45@example.com',
 'samanthahernandez@example.com',
 'sanchezlisa@example.net',
 'sandersjennifer@example.net',
 'sandra48@example.com',
 'sandrabrown@example.net',
 'sandrasherman@example.org',
 'sandraturner@example.org',
 'santoseduardo@example.org',
 'sara65@example.com',
 'saragomez@example.net',
 'sarah55@example.org',
 'sarahchen@example.com',
 'sbarrett@example.com',
 'sbenton@example.org',
 'sbird@example.com',
 'schwartztamara@example.net',
 'shannon55@example.com',
 'sharon54@example.net',
 'sharonwong@example.org',
 'shawcaleb@example.com',
 'shawcrystal@example.org',
 'shawn75@example.com',
 'shawnlloyd@example.net',
 'shawnwolfe@example.com',
 'sheila86@example.net',
 'sheilaanderson@example.org',
 'silvastephanie@example.net',
 'simpsonbrenda@example.net',
 'skelly@example.org',
 'sknight@example.com',
 'sknox@example.org',
 'smithannette@example.org',
 'smithsean@example.com',
 'snyderdanielle@example.net',
 'sophiawhite@example.org',

## filtering users based on frequency of regularization needed

In [26]:
needs_regulatization_freq = needs_regulatization_freq[needs_regulatization_freq['NEEDS_REGULARIZATION_FREQ'] > frequency_regularization_threshold].reset_index().drop(columns='index')
users_needing_overall_regularization = needs_regulatization_freq[needs_regulatization_freq['USER_EMAIL'].isin(users_needing_regularization)]['USER_EMAIL'].tolist()
users_needing_overall_regularization

['adam28@example.net',
 'aherrera@example.net',
 'ajacobs@example.net',
 'alanlee@example.net',
 'amber26@example.com',
 'amiller@example.com',
 'andrewayers@example.net',
 'andrewcoleman@example.org',
 'andrewmills@example.com',
 'angela69@example.org',
 'angelahall@example.org',
 'anthonyjulie@example.org',
 'ashleejones@example.org',
 'awilliams@example.net',
 'baileymichael@example.net',
 'basslisa@example.org',
 'bcarroll@example.org',
 'bennettlaura@example.net',
 'bharris@example.org',
 'brendan66@example.com',
 'brett99@example.net',
 'brewersteven@example.net',
 'brian02@example.net',
 'brianlee@example.org',
 'broberts@example.net',
 'brownmichele@example.com',
 'brucedawson@example.org',
 'bryantdarryl@example.net',
 'bryantmary@example.org',
 'bryanwilliams@example.net',
 'bsmith@example.net',
 'campbelljay@example.com',
 'camposmargaret@example.org',
 'carrolldawn@example.com',
 'carternathaniel@example.org',
 'cfoster@example.net',
 'chancaroline@example.net',
 'charlesbaker@example.com',
 'charlespowers@example.net',
 'christina24@example.com',
 'clarkeelizabeth@example.net',
 'clee@example.org',
 'collinstraci@example.net',
 'copelandkathleen@example.org',
 'coreycampbell@example.org',
 'courtneymccarthy@example.org',
 'crasmussen@example.com',
 'crystal38@example.net',
 'cthompson@example.org',
 'cwright@example.org',
 'daisy82@example.com',
 'darren30@example.com',
 'davidsonjoshua@example.com',
 'daviessarah@example.net',
 'deanjason@example.com',
 'deborahtran@example.org',
 'denise26@example.org',
 'djohnson@example.com',
 'douglasramirez@example.com',
 'dyerpatrick@example.com',
 'edwardjordan@example.net',
 'elizabethbautista@example.org',
 'emyers@example.net',
 'ericgoodman@example.net',
 'erose@example.net',
 'escobarbarbara@example.net',
 'ethomas@example.net',
 'eugenenielsen@example.org',
 'evansrandall@example.com',
 'ewhite@example.org',
 'fjennings@example.org',
 'fking@example.net',
 'fmcguire@example.com',
 'fordnathan@example.com',
 'frazierbrett@example.org',
 'gabrielcalderon@example.com',
 'garnerandrea@example.com',
 'gary52@example.com',
 'gberg@example.net',
 'gerald89@example.com',
 'gkaiser@example.com',
 'gking@example.org',
 'glennkylie@example.org',
 'gmunoz@example.org',
 'gnewton@example.org',
 'greenejoseph@example.org',
 'greenkaren@example.net',
 'greentimothy@example.com',
 'gregory25@example.net',
 'guzmanronald@example.com',
 'harrisonalison@example.org',
 'hernandezjohn@example.org',
 'hmorrison@example.com',
 'hollywilliams@example.net',
 'hparsons@example.com',
 'icrawford@example.net',
 'ihoffman@example.com',
 'iholloway@example.com',
 'iklein@example.com',
 'ilewis@example.org',
 'inash@example.com',
 'inolan@example.org',
 'iwalker@example.net',
 'jack54@example.net',
 'jacksonmarc@example.com',
 'jacqueline11@example.org',
 'jameshuber@example.net',
 'jasminebuck@example.org',
 'jasonbooker@example.org',
 'jasoncox@example.net',
 'jcowan@example.net',
 'jennifer89@example.net',
 'jessica65@example.com',
 'jessicafarley@example.net',
 'jim50@example.com',
 'john56@example.com',
 'johnsonbrian@example.org',
 'johnsoncurtis@example.net',
 'johnsonmary@example.org',
 'jonathan53@example.org',
 'jonesjohnny@example.com',
 'juan31@example.net',
 'kathleen27@example.net',
 'kathryngarcia@example.net',
 'katie70@example.net',
 'kaylabuchanan@example.org',
 'kellybowen@example.net',
 'kellybrian@example.org',
 'kellyburns@example.net',
 'kingdaniel@example.org',
 'kmiller@example.org',
 'krodriguez@example.org',
 'lancewright@example.org',
 'lauriesloan@example.com',
 'lblankenship@example.com',
 'leebrandon@example.com',
 'levyangela@example.net',
 'lewisjoseph@example.org',
 'lewiswanda@example.org',
 'linda20@example.org',
 'lindseygonzales@example.net',
 'lisajackson@example.org',
 'lorihopkins@example.net',
 'lramirez@example.com',
 'lsuarez@example.net',
 'markmedina@example.org',
 'marshallnicholas@example.net',
 'mary89@example.com',
 'maryholmes@example.net',
 'masonjeffrey@example.com',
 'matthew77@example.net',
 'matthewhoffman@example.org',
 'mcmillanrachael@example.org',
 'melissa24@example.org',
 'mfernandez@example.net',
 'mhughes@example.org',
 'michael05@example.org',
 'michael32@example.org',
 'michael76@example.com',
 'michael99@example.net',
 'michaelarichardson@example.com',
 'michaelgray@example.net',
 'michaelhernandez@example.org',
 'michaeltownsend@example.org',
 'michele44@example.net',
 'miguelsmith@example.org',
 'millernicholas@example.net',
 'mmayer@example.net',
 'montesryan@example.com',
 'mthompson@example.net',
 'mwilliams@example.net',
 'nataliebowers@example.com',
 'ngray@example.net',
 'ngriffith@example.com',
 'nicholas05@example.com',
 'nicholasblair@example.net',
 'nicolemiller@example.com',
 'nreed@example.com',
 'oblair@example.org',
 'ocontreras@example.com',
 'ostephens@example.org',
 'patrickbrooke@example.net',
 'paula44@example.net',
 'paulking@example.com',
 'paynecourtney@example.com',
 'pdavila@example.net',
 'penamichele@example.org',
 'petersmonica@example.org',
 'petersonashley@example.com',
 'pjohnson@example.org',
 'prestonkevin@example.net',
 'pwarren@example.com',
 'qrodriguez@example.net',
 'ralphcarroll@example.net',
 'ramirezanne@example.org',
 'randall85@example.org',
 'ravendaniels@example.net',
 'rblanchard@example.com',
 'reeveslisa@example.org',
 'reginaharmon@example.org',
 'richardgreene@example.net',
 'robert43@example.net',
 'robert98@example.org',
 'robertrandolph@example.org',
 'robin50@example.org',
 'robin81@example.org',
 'robinsoncharles@example.net',
 'rodriguezangela@example.net',
 'rodriguezkenneth@example.org',
 'ronald44@example.net',
 'rsolis@example.org',
 'ruizjames@example.com',
 'ryaningram@example.com',
 'sabrina27@example.org',
 'samantha45@example.com',
 'sandersjennifer@example.net',
 'sandra48@example.com',
 'sandrabrown@example.net',
 'sarah55@example.org',
 'schwartztamara@example.net',
 'shawcaleb@example.com',
 'shawnlloyd@example.net',
 'sophiawhite@example.org',
 'stacysanford@example.net',
 'stevehill@example.org',
 'steven93@example.com',
 'stevencooper@example.net',
 'stewartjason@example.net',
 'sthomas@example.net',
 'teresa38@example.com',
 'tfloyd@example.net',
 'tharris@example.com',
 'torresrichard@example.com',
 'tstout@example.org',
 'tuckerelizabeth@example.net',
 'tuckertimothy@example.com',
 'turnersheri@example.net',
 'uhenderson@example.net',
 'usmith@example.net',
 'vargassteven@example.com',
 'vrobertson@example.org',
 'vwilson@example.net',
 'wadkins@example.net',
 'walkercristian@example.com',
 'walterschristopher@example.org',
 'warren74@example.com',
 'weaverdwayne@example.com',
 'wendy35@example.net',
 'williamandrade@example.org',
 'williamsmarissa@example.com',
 'williejohnson@example.com',
 'wilsonmichael@example.net',
 'wkoch@example.com',
 'wlopez@example.net',
 'wolfnicholas@example.org',
 'wsnyder@example.com',
 'xallen@example.net',
 'xparker@example.com',
 'xzuniga@example.org',
 'yadkins@example.com',
 'ybean@example.net',
 'ymckay@example.com',
 'ymiller@example.com',
 'yparker@example.net',
 'zbennett@example.org']

## finalizing dataset

In [27]:
total_hours_worked_lifetime = attendance_regulariation_df.groupby('USER_EMAIL')['TOTAL_HOURS_WORKED_FOR_WEEK'].sum().reset_index().copy()
total_hours_worked_lifetime.rename(columns={'TOTAL_HOURS_WORKED_FOR_WEEK' : 'TOTAL_HOURS_WORKED_LIFETIME'}, inplace=True)
total_hours_worked_lifetime

                   USER_EMAIL  TOTAL_HOURS_WORKED_LIFETIME
0         aaron25@example.com                          231
1         aaron65@example.com                          111
2         aaron69@example.org                          322
3         aaron85@example.net                          222
4     aaronjensen@example.org                          234
...                       ...                          ...
4078      ztucker@example.org                          529
4079      zvaldez@example.com                          197
4080       zweber@example.net                          566
4081  zwilliamson@example.org                         1109
4082        zwolf@example.org                           33

[4083 rows x 2 columns]

In [28]:
average_daily_hours_worked_lifetime = attendance_regulariation_df.groupby('USER_EMAIL')['AVERAGE_DAILY_HOURS_WORKED'].mean().reset_index().copy()
average_daily_hours_worked_lifetime.rename(columns={'AVERAGE_DAILY_HOURS_WORKED' : 'AVERAGE_DAILY_HOURS_WORKED_LIFETIME'}, inplace=True)
average_daily_hours_worked_lifetime

                   USER_EMAIL  AVERAGE_DAILY_HOURS_WORKED_LIFETIME
0         aaron25@example.com                             8.250000
1         aaron65@example.com                             6.937500
2         aaron69@example.org                             7.318182
3         aaron85@example.net                             7.928571
4     aaronjensen@example.org                             8.357143
...                       ...                                  ...
4078      ztucker@example.org                             8.265625
4079      zvaldez@example.com                             9.850000
4080       zweber@example.net                             8.323529
4081  zwilliamson@example.org                             9.241667
4082        zwolf@example.org                             4.125000

[4083 rows x 2 columns]

In [29]:
final_df_ml = needs_regulatization_freq.copy()
final_df_ml = pd.merge(final_df_ml, total_hours_worked_lifetime, on='USER_EMAIL', how='inner')
final_df_ml = pd.merge(final_df_ml, average_daily_hours_worked_lifetime, on='USER_EMAIL', how='inner')
final_df_ml['NEEDS_REGULARIZATION'] = final_df_ml['USER_EMAIL'].isin(users_needing_overall_regularization).astype(int)

final_df_ml.reset_index(inplace=True)
final_df_ml.drop(columns=['index', 'USER_EMAIL'], inplace=True)
final_df_ml

,NEEDS_REGULARIZATION_FOR_WEEK,NEEDS_REGULARIZATION_FOR_DAY,NEEDS_REGULARIZATION_FREQ,TOTAL_HOURS_WORKED_LIFETIME,AVERAGE_DAILY_HOURS_WORKED_LIFETIME,NEEDS_REGULARIZATION
0,5,3,8,231,8.250000,0
1,9,8,17,322,7.318182,0
2,5,3,8,222,7.928571,0
3,4,3,7,234,8.357143,0
4,18,13,31,901,8.663462,0
...,...,...,...,...,...,...
2387,19,12,31,886,8.203704,0
2388,10,9,19,388,7.461538,0
2389,9,8,17,529,8.265625,0
2390,9,7,16,566,8.323529,0
2391,17,13,30,1109,9.241667,0

# **ML**

## Sampling

In [59]:
over_sampling = SMOTE(sampling_strategy=0.5)
X_oversampled, y_oversampled = over_sampling.fit_resample(final_df_ml.loc[:, final_df_ml.columns != 'NEEDS_REGULARIZATION'], final_df_ml['NEEDS_REGULARIZATION'])

In [60]:
oversampled_df = pd.concat([pd.DataFrame(X_oversampled), pd.DataFrame(y_oversampled)], axis=1)
oversampled_df

,NEEDS_REGULARIZATION_FOR_WEEK,NEEDS_REGULARIZATION_FOR_DAY,NEEDS_REGULARIZATION_FREQ,TOTAL_HOURS_WORKED_LIFETIME,AVERAGE_DAILY_HOURS_WORKED_LIFETIME,NEEDS_REGULARIZATION
0,5,3,8,231,8.250000,0
1,9,8,17,322,7.318182,0
2,5,3,8,222,7.928571,0
3,4,3,7,234,8.357143,0
4,18,13,31,901,8.663462,0
...,...,...,...,...,...,...
3185,7,5,13,671,9.868372,1
3186,9,7,16,781,9.445726,1
3187,4,3,7,387,10.763407,1
3188,5,3,9,520,10.355215,1
3189,5,3,8,507,10.082381,1

## Train and test dataset

In [61]:
X_train, X_test, y_train, y_test = train_test_split(X_oversampled, y_oversampled, test_size=0.2, random_state=42)

## Models

In [72]:
model = LinearRegression()

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

accuracy = model.score(X_test, y_test)
print("Accuracy:", accuracy)

Mean Squared Error: 0.08601043887845262
Accuracy: 0.6141549871843495

In [73]:
model = DecisionTreeRegressor(random_state=42)

# Train the model
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

accuracy = model.score(X_test, y_test)
print("Accuracy:", accuracy)

Mean Squared Error: 0.03134796238244514
Accuracy: 0.8593722447540116

In [74]:
model = RandomForestRegressor(n_estimators=100, random_state=42)

# Train the model
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

accuracy = model.score(X_test, y_test)
print("Accuracy:", accuracy)

Mean Squared Error: 0.014816927899686519
Accuracy: 0.9335308852054311

In [77]:
model = XGBRegressor(random_state=42)

# Train the model
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

accuracy = model.score(X_test, y_test)
print("Accuracy:", accuracy)

Mean Squared Error: 0.014796858387720574
Accuracy: 0.9336209175457224