# **Imports**

In [9]:
import snowflake.connector as snwconn
import pandas as pd
import os
from dotenv import load_dotenv

import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.calibration import LabelEncoder
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import NearMiss

load_dotenv()

True

# **Snowflake Connections**

In [10]:
conn_params = {
    'account': os.getenv('SNW_ACCOUNT').replace('.', '-'),
    'user': os.getenv('SNW_USERNAME'),
    'password': os.getenv('SNW_PASS'),
    'warehouse': 'COMPUTE_WH',
    'database': 'JMAN_FINAL_PROJECT',
    'schema': 'DBO_STAGING'
}

In [11]:
conn = snwconn.connect(**conn_params)
cursor = conn.cursor()

# **Reading Table**

In [12]:
csv_file_path = 'data/all_data.csv'

In [13]:
def _read_from_cloud():
    with open('sql_query.sql', 'r') as sql_query_file:
        sql_query_text = sql_query_file.read()
    
    cursor.execute(sql_query_text)
    data = cursor.fetchall()
    columns = [col[0] for col in cursor.description]
    main_df = pd.DataFrame(data, columns=columns)

    return main_df

In [14]:
def _save_to_local(df): 
    dirs_to_make = '/'.join(csv_file_path.split('/')[:-1])
    if not os.path.exists(dirs_to_make):
        os.makedirs(dirs_to_make)

    df.to_csv(csv_file_path, index=False)

In [15]:
if os.path.exists(csv_file_path):
    print('CSV Exists, reading from local')
    main_df = pd.read_csv(csv_file_path)
else:
    print('CSV does\'t Exist, reading from cloud')
    main_df = _read_from_cloud()
    _save_to_local(main_df)

CSV Exists, reading from local

In [16]:
main_df

,USER_EMAIL,USER_ROLE,USER_NAME,PROJECT_NAME,PROJECT_DOMAIN,FEEDBACK_QUESTION,PROJECT_DATE_START,PROJECT_END_DATE,TIMESHEET_COMMENT_ADDED,TIMESHEET_D0,...,TIMESHEET_D2,TIMESHEET_D3,TIMESHEET_D4,TIMESHEET_D5,TIMESHEET_D6,TIMESHEET_ACTIVITY_NAME,FEEDBACK_DATE_START,FEEDBACK_DATE_END,FEEDBACK_CHECKED_ANSWER,FEEDBACK_TEXT_ANSWER
0,ygreen@example.org,admin,Eric Reynolds,Schneider and Sons Solution,Cybersecurity,How satisfied are you with the level of transp...,24-03-2024,30-03-2024,NaN,2,...,5,5,5,6,0,Sales Activity,21-05-2023,27-05-2023,0,NaN
1,ygreen@example.org,admin,Eric Reynolds,Schneider and Sons Solution,Cybersecurity,Rate the level of adaptability shown by the te...,24-03-2024,30-03-2024,NaN,2,...,5,5,5,6,0,Sales Activity,24-03-2024,30-03-2024,0,NaN
2,ygreen@example.org,admin,Eric Reynolds,Schneider and Sons Solution,Cybersecurity,Rate the level of adaptability shown by the te...,24-03-2024,30-03-2024,NaN,2,...,5,5,5,6,0,Sales Activity,24-03-2024,30-03-2024,0,NaN
3,ygreen@example.org,admin,Eric Reynolds,Schneider and Sons Solution,Cybersecurity,Rate the level of adaptability shown by the te...,24-03-2024,30-03-2024,NaN,2,...,5,5,5,6,0,Sales Activity,24-03-2024,30-03-2024,0,NaN
4,jacksonjennifer@example.org,employee,Dennis Cooper,"Lang, Allen and Hayes Solution",Telecommunications,Were the project goals clearly defined? Please...,02-04-2023,08-04-2023,Can't wait to see the end result,0,...,5,5,0,0,2,Sales Activity,10-03-2024,16-03-2024,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74956,stephanie43@example.com,user,Jacqueline Davis,"Sanchez, Jackson and Scott Initiative",Education Technology,How satisfied are you with the overall progres...,22-10-2023,28-10-2023,Excited to get started!,9,...,6,0,4,4,2,BAU Activity,22-10-2023,28-10-2023,3,Good
74957,stephanie43@example.com,user,Jacqueline Davis,"Sanchez, Jackson and Scott Initiative",Education Technology,How satisfied are you with the overall progres...,22-10-2023,28-10-2023,Excited to get started!,9,...,6,0,4,4,2,BAU Activity,22-10-2023,28-10-2023,3,Good
74958,stephanie43@example.com,user,Jacqueline Davis,"Sanchez, Jackson and Scott Initiative",Education Technology,Rate the accuracy of the project budget estima...,22-10-2023,28-10-2023,Excited to get started!,9,...,6,0,4,4,2,BAU Activity,22-10-2023,28-10-2023,5,NaN
74959,stephanie43@example.com,user,Jacqueline Davis,"Sanchez, Jackson and Scott Initiative",Education Technology,Rate the accuracy of the project budget estima...,22-10-2023,28-10-2023,Excited to get started!,9,...,6,0,4,4,2,BAU Activity,22-10-2023,28-10-2023,5,NaN
74960,stephanie43@example.com,user,Jacqueline Davis,"Sanchez, Jackson and Scott Initiative",Education Technology,Rate the accuracy of the project budget estima...,22-10-2023,28-10-2023,Excited to get started!,9,...,6,0,4,4,2,BAU Activity,22-10-2023,28-10-2023,5,NaN

In [ ]:
main_df.info()